<div class="container">
  <div class="row mt-3 mb-1">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Contraseña</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td><input type="password" value="{{ user.password }}" id=""  disabled></td>
                <td>
                  <ion-icon name="create" color="tertiary"></ion-icon>
                </td>
                <td>
                  <ion-icon name="trash" color="danger"></ion-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </table>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto text-center" (click)="openModalAddUser()">
        <ion-icon name="add-circle-outline" color="primary"></ion-icon>
    </div>
  </div>
</div>
