<div class="container">
  <div class="row mt-3 mb-1">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Turno</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tech of technicians">
                <td>{{ tech.name }}</td>
                <td>{{ tech.position | titlecase}}</td>
                <td>{{ tech.turn | titlecase}}</td>
                <td>
                  <ion-icon name="create" color="tertiary" (click)="modalUpdate(tech._id)"></ion-icon>
                </td>
                <td>
                  <ion-icon name="trash" color="danger" (click)="presentAlertConfirm(tech._id)"></ion-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </table>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto text-center" (click)="openModalAddTechnician()">
        <ion-icon name="add-circle-outline" color="primary"></ion-icon>
    </div>
  </div>
</div>
